* {
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    font-size: 6vw;
}

button {
    margin-right: 2vw;
} 

form {
    height: 70vh;
    text-align: left;
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 2vh;
}

