* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgb(34, 34, 34);
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    font-size: 3rem; /* better for responsiveness */
}

input[type="email"],
input[type="password"] {
    border: none;
    border-bottom: 2px solid transparent;
    color: white;
    outline: none;
    padding: 0.5rem 0;
    font-size: 1.2rem;
    background-color: transparent;
    width: 100%;
    max-width: 300px;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-bottom: 2px solid #fcfcfc;
    font-size: 1.2rem;
}

input::placeholder {
    font-size: 1rem;
    color: #ccc;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0px 1000px rgb(34, 34, 34) inset;
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
    font-size: 1.2rem !important;
    background-color: transparent !important;
}

.center-box {
    margin-top: 5vh;
    text-align: left;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}

button {
    width: 150px;
    height: 50px;
    margin-right: 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
}

button:hover {
    transition: background-color 0.3s, color 0.3s;
    color: white;
    background-color: rgb(19, 19, 19);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.4); /* subtle white glow */
}
